# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.moved-aside
*.xcuserstate
*.xcscmblueprint
**/*.xcworkspace/xcuserdata
**/*.xcodeproj/xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# SwiftPM
.build/

# CocoaPods (si usás)
Pods/

# Carthage (si usás)
Carthage/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
